# Temel Kütüphaneler
requests
beautifulsoup4
pygame

# Ses İşleme ve Yapay Zeka
edge-tts
SpeechRecognition
wikipedia
pyaudio

# Sistem ve Otomasyon
pyautogui
pyperclip
psutil

# Web Arayüzü
flask
